@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.base {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.container {
    background-color: transparent;
    width:40vw;
    height:25vw;
    perspective: 500px;
    flex: 0 0 auto;

}

.center{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: 3rem;
    position: absolute;
    border-color: #C6C6C6;


}


.front,.back{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display:flex;
    width:100%;
    height: 100%;
    overflow-wrap: break-word;
    border: solid;
    border-radius: 3rem;
    border-color: #C6C6C6;
    align-items:center;
    justify-content: center;
    text-align: center;


}



.front {
    background-color: #021D27;
    color:white;
    font-size: 1.5rem;
}

.back {
    background-color: #021D27;
    color:white;
    transform: rotateY(180deg);
    font-size: 0.8rem;


}

#first{
    transform: rotateY(0deg);
}

#second{
    transform: rotateY(180deg);
    color:black;
    backface-visibility: visible;


}

/* Deleate button */
.trash {
    position:absolute;
    left:90%;
    top:80%;
    background-color: #00000000;
    width:2rem;
    height:2rem;

}

.forms {
    position:fixed;
    background-color: #021d27a2;
    height:100%;
    width:25vw;
    display: flex;
    z-index: 100000;
    perspective: 600;
    right:120%;
    border-radius: 3rem;

}




.create{
    background-color: #021D27;
    border: solid;
    border-radius: 2rem;
    border-color:whitesmoke;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color:whitesmoke;
    padding-left: 3rem;
    padding-right: 3rem;
    

}